body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #f6d365, #fda085);
  background-size: 200% 200%; /* Menentukan ukuran latar belakang */
  animation: gradientAnimation 10s ease infinite; /* Menentukan animasi */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.calculator-container {
  text-align: center;
  margin: 20px;
}

.calculator-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 1px;
  color: #333;
}

.calculator-author {
  font-size: 14px;
  margin-top: 0px;
  color: #666;
}

.calculator {
  background-color: #f8edd1;
  border-radius: 15px;
  overflow: hidden;
  max-width: 300px;
  margin: auto;
  box-shadow: inset 5px 5px 10px #e0c3a0,
              inset -5px -5px 10px #ffffff;
}

.display {
  width: 100%;
  height: 65px;
  border: none;
  outline: none;
  font-size: 24px;
  text-align: right;
  padding: 15px;
  background-color: #f0dab3;
  color: #333;
  overflow: hidden;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 10px;
}

button {
  width: 100%;
  height: 50px;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: progress;
  background-color: #f8edd1;
  color: #333;
  border-radius: 10px;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 3px 3px 5px #e0c3a0,
              -3px -3px 5px #ffffff;
}

button:hover {
  background-color: #f0dab3;
  box-shadow: 2px 2px 5px #e0c3a0,
              -2px -2px 5px #ffffff;
}

.operator {
  background-color: #ffb74d;
}

.operator:hover {
  background-color: #ffa726;
}

.icon {
  background-color: #ff7043;
}

.icon:hover {
  background-color: #ff5722;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: linear-gradient(to right, #ffb74d, #ffa726);
  padding: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #555;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
  font-size: 16px;
  color: #333;
}

@media (max-width: 600px) {
  .calculator {
    max-width: 100%;
  }

  .buttons {
    grid-template-columns: repeat(4, 1fr);
  }

  button {
    font-size: 16px;
  }
}
